

body{
    width: 100%;
    height: 2000px;
}

.container{
    /* display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */
    width: 100%;
    height: 100%;

}

/* =====   -----   Navbar Css(S)   -----   ===== */
.navbar_container{
    border: 1px black;
    background-color: pink;
    width: 15%;
    height: 100%;
    /* grid-column: 1/1;
    grid-row: 1/2; */
}

.side_menu_container{
    display: flex;
    flex-direction: column;
}

.side_menu_button{
    width: 80%;
    height:30%;
    background-color: black;
}

/* =====   -----   Navbar Css(E)   -----   ===== */



.header_container{
    border: 1px black;
    background-color: yellow;
    height: 10%;
    width: 100%;
    /* grid-column: 2/2;
    grid-row: 1/1; */
}

.content_container{
    border: 1px black;
    background-color: green;
    /* grid-column: 2/2;
    grid-row: 2/2; */
}