

.navbar_container{
    border: 1px black;
    background-color: pink;
    width: 20%;
    height: 100%;
}

.header_container{
    border: 1px black;
    background-color: yellow;
    height: 10%;
}

.content_container{
    border: 1px black;
    background-color: green;

}